@font-face {
    font-family: new;
    font-weight: 600;
    src: url(./NeueHaasDisplayMediu.ttf);
}
@font-face {
    font-family: new;
    font-weight: 400;
    src: url(./NeueHaasDisplayLight.ttf);
}
@font-face {
    font-family: new;
    font-weight: 200;
    src: url(./NeueHaasDisplayMediu.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: new;
    /* cursor: none; */
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    /* background: #000; */
    position: relative;
    z-index: 10;
}
.fixed-image{
    height: 30vw;
    width: 24vw;
    border-radius: 10px;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 16%;
    display: none;
    background-size: cover;
    background-position: center;
}
#page1{
    width: 100%;
    background: #EFEAE3;
    position: relative;
    padding: 0 5vw;

}
nav{
    padding: 2vw 0vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
.nav-part2 h4{
    border: 1px solid rgb(156, 156, 156);
    padding: 0.75vw 1.5vw;
    border-radius: 50px;
    font-weight: 300;
    cursor: pointer;
    position: relative;
    color: black;
    font-size: 18px;
    overflow: hidden;
    transition: all ease 0.4s;
    font-family: nav;
}
.nav-part2 h4::after{
    content: '';
    height: 100%;
    width: 100%;
    background: black;
    position: absolute;
    bottom: -100%;
    left: 0;
    border-radius: 50%;
    transition: all ease 0.4s;
}
.nav-part2 h4:hover::after{
    bottom: 0;
    border-radius: 0;
}
.nav-part2 h4 a{
    text-decoration: none;
    color: black;
    z-index: 1;
    position: relative;
}
.nav-part2 h4:hover a{
    color: white;
}
#page1 h1{
    margin-top: 9vw;
    margin-left: -2vw;
    font-size: 80px;
    padding-left: 0 6vh;
}
#page1 h2 span{
    color: orangered;
}
#page1 h2{
    margin-left: -2vw;
    font-size: 30px;
    padding-left: 0 6vh;
}
#page2{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 2vw 6vw;
    position: relative;
}
#page2 .sec1{
    display: flex;
    flex-direction: row;
}
.mid img{
    width: 310px;
    height: 310px;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
    margin: 2vw;
    
}
#page2 img{
    width: 310px;
    height: 210px;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
    margin: 2vw;
    transition: .5s;
    
}
#page2 img:hover{
    transform: scale(1.1,1.1);
}
#page2 #explore{
    padding-left: 2vw;
}
#explore h1{
    font-size: 25px;
    color: orangered;
    
}
#explore a{
    text-decoration: none;
}
#footer{
    position: sticky;
    z-index: 9;
    height: 100vh;
    width: 100%;
    bottom: 0;
    background: black;
    color: white;
    display: flex;
    /* align-items: flex-end; */
    flex-direction: column;
    justify-content: flex-end;
    /* gap: 100px; */
    padding: 1vw 3vw;
    pointer-events: auto;
}
#footer h1{
    font-size: 15vw;
    /* cursor: pointer; */
    pointer-events: auto;
}
.footer-div{
    height: 20vh;
    /* background: red; */
    margin-bottom: 100px;
    padding: 0 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* outline: auto; */
}
.footer-bottom{
    border-top: 1px solid #dadada;
    height: 12vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;

}
.footer-links{
    height: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid white; */
}
.footer-links a{
    font-size: 2.5vw;
    text-decoration: none;
    color: white;
    font-weight: 700;
    cursor: pointer;
    /* z-index: 100000; */
}
.get-email{
    height: 100%;
    /* border: 2px solid white; */
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.get-email p{
    font-size: 1.5vw;
    font-weight: 500;
}
.get-email input{
    height: 30px;
    width: 90%;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #dadada;

}
.get-email input::placeholder{
    color: #a3a3a3;
    font-size: 1vw;
}
.get-email ion-icon{
    position: absolute;
    bottom: 0;
    right: 0;
    --ionicon-stroke-width: 5px;
    font-size: 40px;
}
.copyright p{
    font-size: 1.25vw;
    font-weight: 600;
}
.location{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    font-size: 1.25vw;
    font-weight: 600;
}
.instagram a{
    font-size: 1.25vw;
    font-weight: 600;
    text-decoration: none;
    color: white;
}
.linkedin a{
    font-size: 1.25vw;
    font-weight: 600;
    text-decoration: none;
    color: white;
}