@font-face {
    font-family: new;
    font-weight: 600;
    src: url(./NeueHaasDisplayMediu.ttf);
}
@font-face {
    font-family: new;
    font-weight: 400;
    src: url(./NeueHaasDisplayLight.ttf);
}
@font-face {
    font-family: new;
    font-weight: 200;
    src: url(./NeueHaasDisplayMediu.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: new;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    background: #000;
}
#page1{
    min-height: 100vh;
    width: 100%;
    background: #EFEAE3;
    position: relative;
    padding: 0 2vw;
}
nav{
    padding: 2vw 0vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
.nav-part2 h4{
    border: 1px solid rgb(156, 156, 156);
    padding: 0.75vw 1.5vw;
    border-radius: 50px;
    font-weight: 300;
    cursor: pointer;
    position: relative;
    color: black;
    font-size: 18px;
    overflow: hidden;
    transition: all ease 0.4s;
    font-family: nav;
}
.nav-part2 h4::after{
    content: '';
    height: 100%;
    width: 100%;
    background: black;
    position: absolute;
    bottom: -100%;
    left: 0;
    border-radius: 50%;
    transition: all ease 0.4s;
}
.nav-part2 h4:hover::after{
    bottom: 0;
    border-radius: 0;
}
.nav-part2 h4 a{
    text-decoration: none;
    color: black;
    z-index: 9;
    position: relative;
}
.nav-part2 h4:hover a{
    color: white;
}
.center{
    height: 81vh;
    width: 100%;
    background: transparent;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #0000003c;
    padding-bottom: 3.75vw;
}
.left h3{
    width: 28vw;
    line-height: 2vw;
    font-size: 1.9vw;
}
.right h1{
    font-size: 10vw;
    line-height: 8vw;
    text-align: right;
}
#page1 video{
    margin-top: 4vw;
    border-radius: 30px;
    width: 100%;
    position: relative;
}
.hero-shape{
    position: absolute;
    height: 36vw;
    width: 46vw;
    right: 0;
    top: 85vh;
}
.hero-1{
    height: 100%;
    width: 100%;
    background: royalblue;
    background: #FE3E0E;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(20px);
    position: absolute;
}
.hero-2{
    height: 30vw;
    width: 30vw;
    background: linear-gradient(#FE3E0E, #fe4a0e);
    border-radius: 50%;
    filter: blur(25px);
    position: absolute;
    animation-name: anime2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}
.hero-3{
    height: 30vw;
    width: 30vw;
    background: royalblue;
    background: linear-gradient(#FE3E0E, #fe4a0e);
    border-radius: 50%;
    filter: blur(25px);
    position: absolute;
    animation-name: anime1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}
@keyframes anime1{
    from{
        transform: translate(55%, -8%);
    }
    to{
        transform: translate(0%, 10%);
    }
}
@keyframes anime2{
    from{
        transform: translate(5%, -8%);
    }
    to{
        transform: translate(-20%, 30%);
    }
}

#page2{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 8vw 0;
    position: relative;
}
#moving-text{
    overflow-x: auto;
    scrollbar-width: none;
    white-space: nowrap;
}
#moving-text::-webkit-scrollbar{
    display: none;
}
#moving-text h1{
    font-size: 7vw;
    display: inline-block;
}
.con{
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.circle{
    height: 60px;
    width: 60px;
    background: #FE3E0E;
    border-radius: 50%;
    display: inline-block;
    margin: 0.7vw 2vw;
}
@keyframes move{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.page2-bottom{
    height: 80vh;
    width: 100%;
    /* background: aliceblue; */
    padding: 6vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1000;
}
.page2-bottom h1{
    font-size: 4.35vw;
    width: 70%;
    line-height: 4.4vw;
    font-weight: 600;
}
.bottom-part2{
    width: 25%;
    margin-top: 300px;
    /* background: aqua; */
}
.bottom-part2 img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
}
.bottom-part2 p{
    width: 90.5%;
    margin-top: 2.5vw;
    font-size: 1.15vw;
    box-sizing: border-box;
    font-weight: 400;
}
#page2 .circle2{
    height: 28vw;
    width: 28vw;
    border-radius: 50%;
    position: absolute;
    background: linear-gradient(to top right,#FE3E0E, #ff6e1b);
    top: 58%;
    left: 25%;
    filter: blur(20px);
    animation: circle2 6s ease-in-out infinite alternate;
}
@keyframes circle2{
    from{
        filter: blur(20px);
        transform: translate(10%, -10%) skew(0);
    }
    to{
        filter: blur(25px);
        transform: translate(-10%, 10%) skew(-12deg);
    }
}


#page3{
    min-height: 100vh;
    width: 100%;
    background: #EFEAE3;
    padding: 6vw 0;
}
.elem{
    height: 122px;
    width: 100%;
    position: relative;
    background: #EFEAE3;
    border-bottom: 1px solid #a3a3a3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    overflow: hidden;
    cursor: pointer;
}
.elem h2{
    font-size: 3.25vw;
    position: relative;
    z-index: 1000;
    user-select: none;
}
.elem .overlay{
    height: 100%;
    width: 100%;
    background: #FF9831;
    position: absolute;
    left: 0;
    top: -100%;
    transition: 0.3s all ease;
}
.elem:hover .overlay{
    top: 0;
    cursor: pointer;
}

.fixed-image{
    height: 30vw;
    width: 24vw;
    border-radius: 10px;
    position: fixed;
    z-index: 9990;
    left: 50%;
    top: 16%;
    display: none;
    background-size: cover;
    background-position: center;
}
.texts{
    z-index: 99;
    text-align: right;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.texts h4{
    font-weight: 200;
}
.texts p{
    font-weight: 400;
}
#page4{
    height: 100vh;
    width: 100%;
    background: #EFEAE3;
    position: relative;
    padding: 0 2vw;
    /* background: red; */
    margin-top: -60px;
}
.page4-container{
    margin-top: 4vw;
    height: 100%;
    border-radius: 30px;
    width: 100%;
    position: relative;
    /* border: 2px solid black; */
    display: flex;
    overflow: hidden;
}
.page4left{
    width: 47%;
    height: 100%;
    background: black;
    color: white;
    display: flex;
    align-items: center ;
    justify-content: center;
    flex-direction: column;
}
.headings{
    height: 32%;
    width: 50%;
    margin-top: 100px;
    /* background: red; */
}
.headings h1{
    font-size: 4.5vw;
    position: relative;
    cursor: pointer;
    color: #423B37;
    user-select: none;
    
}
.headings h1::before{
    content: "";
    height: 100%;
    width: 2.5px;
    z-index: 100;
    background: #423B37;
    position: absolute;
    left: -5%;
    transition: background-color 0.3s ease;
}
.headings h1.active::before {
    background-color: red; /* Color when heading is active */
}
.texts1{
    height: 32%;
    width: 50%;
    text-align: left;
    margin-top: 60px;
    margin-left: -35px;
}
.texts1 p{
    font-size: 1.15vw;
}
.page4right{
    width: 55%;
    height: 100%;
    background: crimson;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: absolute;
    right: 0;
    border: none;
}

#page5{
    height: 60vh;
    width: 100%;
    background: red;
}
#page6{
    height: 100vh;
    width: 100%;
    /* background: transparent; */
}