@font-face {
    font-family: new;
    font-weight: 600;
    src: url(./NeueHaasDisplayMediu.ttf);
}
@font-face {
    font-family: new;
    font-weight: 400;
    src: url(./NeueHaasDisplayLight.ttf);
}
@font-face {
    font-family: new;
    font-weight: 200;
    src: url(./NeueHaasDisplayMediu.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: new;
    /* cursor: none; */
}
html, body{
    height: 100%;
    width: 100%;
}
/* Custom Cursor */
.cursor{
    height: 25px;
    width: 25px;
    border: 2px solid black;
    top: 0;
    left: 0;
    border-radius: 50%;
    position: fixed;
    z-index: 999999;
    transition: top linear 0.2s, left linear 0.2s;
    pointer-events: none;
}
#main{
    position: relative;
    z-index: 10;
    background: #EFEAE3;
}
#page1{
    min-height: 100vh;
    width: 100%;
    background: #EFEAE3;
    position: relative;
    padding: 0 2vw;
}
nav{
    padding: 2vw 0vw;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
    justify-content: space-between;
}
nav img{
    height: 68px;
    width: 200px;
    object-fit: contain;
    object-position: center;
}
.nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
.nav-part2 h4{
    border: 1px solid rgb(156, 156, 156);
    padding: 0.75vw 1.5vw;
    border-radius: 50px;
    font-weight: 300;
    cursor: pointer;
    position: relative;
    color: black;
    font-size: 18px;
    overflow: hidden;
    transition: all ease 0.4s;
    font-family: nav;
}

/* ALl other link buttons */
.other-buttons{
    border: 1px solid rgb(156, 156, 156);
    padding: 0.75vw 1.5vw;
    border-radius: 50px;
    font-weight: 300;
    cursor: pointer;
    position: relative;
    color: black;
    font-size: 18px;
    overflow: hidden;
    transition: all ease 0.4s;
    font-family: nav;
    width: 200px;
    margin-top: 2vw;
    margin-left: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
}
.other-buttons::after{
    content: '';
    height: 100%;
    width: 100%;
    background: black;
    position: absolute;
    bottom: -100%;
    left: 0;
    border-radius: 50%;
    transition: all ease 0.4s;
}
.other-buttons:hover::after{
    bottom: 0;
    border-radius: 0;
}
.other-buttons a{
    text-decoration: none;
    color: black;
    z-index: 1;
    position: relative;
}
.other-buttons:hover a{
    color: white;
}
.other-buttons:hover .other-icon{
    color: white;
    z-index: 9;
}

.nav-part2 h4::after{
    content: '';
    height: 100%;
    width: 100%;
    background: black;
    position: absolute;
    bottom: -100%;
    left: 0;
    border-radius: 50%;
    transition: all ease 0.4s;
}
.nav-part2 h4:hover::after{
    bottom: 0;
    border-radius: 0;
}
.nav-part2 h4 a{
    text-decoration: none;
    color: black;
    z-index: 1;
    position: relative;
}
.nav-part2 h4:hover a{
    color: white;
}
.center{
    height: 81vh;
    width: 100%;
    background: transparent;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #0000003c;
    padding-bottom: 3.75vw;
}

.left h3{
    width: 28vw;
    line-height: 2vw;
    font-size: 1.9vw;
}
.right h1{
    font-size: 10vw;
    line-height: 8vw;
    text-align: right;
}
#page1 video{
    margin-top: 4vw;
    border-radius: 30px;
    width: 100%;
    position: relative;
}
.hero-shape{
    position: absolute;
    height: 36vw;
    width: 46vw;
    right: 0;
    top: 85vh;
}
.hero-1{
    height: 100%;
    width: 100%;
    background: royalblue;
    background: #FE3E0E;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(20px);
    position: absolute;
}
.hero-2{
    height: 30vw;
    width: 30vw;
    background: linear-gradient(#FE3E0E, #fe4a0e);
    border-radius: 50%;
    filter: blur(25px);
    position: absolute;
    animation-name: anime2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}
.hero-3{
    height: 30vw;
    width: 30vw;
    background: royalblue;
    background: linear-gradient(#FE3E0E, #fe4a0e);
    border-radius: 50%;
    filter: blur(25px);
    position: absolute;
    animation-name: anime1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}
@keyframes anime1{
    from{
        transform: translate(55%, -8%);
    }
    to{
        transform: translate(0%, 10%);
    }
}
@keyframes anime2{
    from{
        transform: translate(5%, -8%);
    }
    to{
        transform: translate(-20%, 30%);
    }
}

#page2{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 8vw 0;
    position: relative;
}
#moving-text{
    overflow-x: auto;
    scrollbar-width: none;
    white-space: nowrap;
}
#moving-text::-webkit-scrollbar{
    display: none;
}
#moving-text h1{
    font-size: 7vw;
    display: inline-block;
}
.con{
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.circle{
    height: 60px;
    width: 60px;
    background: #FE3E0E;
    border-radius: 50%;
    display: inline-block;
    margin: 0.7vw 2vw;
}
@keyframes move{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.page2-bottom{
    height: 80vh;
    width: 100%;
    padding: 6vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}
.page2-bottom h1{
    font-size: 4.35vw;
    width: 70%;
    line-height: 4.4vw;
    font-weight: 600;
}
.bottom-part2{
    width: 25%;
    margin-top: 300px;
}
.bottom-part2 img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
}
.bottom-part2 p{
    width: 90.5%;
    margin-top: 2.5vw;
    font-size: 1.15vw;
    box-sizing: border-box;
    font-weight: 400;
}
#page2 .circle2{
    height: 28vw;
    width: 28vw;
    border-radius: 50%;
    position: absolute;
    background: linear-gradient(to top right,#FE3E0E, #ff6e1b);
    top: 58%;
    left: 25%;
    filter: blur(20px);
    animation: circle2 6s ease-in-out infinite alternate;
    z-index: 1;
}
@keyframes circle2{
    from{
        filter: blur(20px);
        transform: translate(10%, -10%) skew(0);
    }
    to{
        filter: blur(25px);
        transform: translate(-10%, 10%) skew(-12deg);
    }
}


#page3{
    min-height: 100vh;
    width: 100%;
    background: #EFEAE3;
    padding: 6vw 0;
}
.elem{
    height: 122px;
    width: 100%;
    position: relative;
    background: #EFEAE3;
    border-bottom: 1px solid #a3a3a3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    overflow: hidden;
    cursor: pointer;
}
.elem h2{
    font-size: 3.25vw;
    position: relative;
    z-index: 2;
    user-select: none;
}
.elem .overlay{
    height: 100%;
    width: 100%;
    background: #FF9831;
    position: absolute;
    left: 0;
    top: -100%;
    transition: 0.3s all ease;
    z-index: 1;
}
.elem:hover .overlay{
    top: 0;
    cursor: pointer;
}

.fixed-image{
    height: 30vw;
    width: 24vw;
    border-radius: 10px;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 16%;
    display: none;
    background-size: cover;
    background-position: center;
    pointer-events: none;
}
.texts{
    z-index: 2;
    text-align: right;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.elem img{
    display: none;
}
.texts h4{
    font-weight: 200;
}
.texts p{
    font-weight: 400;
}
#page4{
    height: 100vh;
    width: 100%;
    background: #EFEAE3;
    position: relative;
    padding: 0 2vw;
    margin-top: -62px;
}
.page4-container{
    margin-top: 4vw;
    height: 100%;
    border-radius: 30px;
    width: 100%;
    position: relative;
    display: flex;
    overflow: hidden;
}
.page4left{
    width: 47%;
    height: 100%;
    background: black;
    color: white;
    display: flex;
    align-items: center ;
    justify-content: center;
    flex-direction: column;
}
.headings{
    height: 32%;
    width: 50%;
    margin-top: 100px;
}
.headings h1{
    font-size: 4.5vw;
    position: relative;
    cursor: pointer;
    color: #423B37;
    user-select: none;
}
.headings h1::before{
    content: "";
    height: 100%;
    width: 2.5px;
    z-index: 2;
    background: #423B37;
    position: absolute;
    left: -5%;
    transition: background-color 0.3s ease;
}
.headings h1.active::before {
    background-color: red; 
}
.texts1{
    height: 32%;
    width: 50%;
    text-align: left;
    margin-top: 60px;
    margin-left: -35px;
}
.texts1 p{
    font-size: 1.25vw;
}
.page4right{
    width: 55%;
    height: 100%;
    background: black;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: absolute;
    right: 0;
    border: none;
}

/* Login */
.wrapper-container{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
}

.wrapper.active-popup {
    transform: scale(1);
}

.wrapper.active {
    height: 520px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2 {
    font-size: 2em;
    color: #162938;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}
.eye{
    position: absolute;
    right: 35px;
    font-size: 1.5vw;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #162938;
    margin-right: 3px;
}

.remember-forgot a {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.btn:hover {
    background: #162938;
    color: #fff;
}

.login-register {
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}

.logout{
    display: none;
}


#page5{
    height: 70vh;
    width: 100%;
    background: #EFEAE3;
    padding: 5vw 2vw;
    position: relative;
}
/* Swiper */
.swiper-wrapper{
    display: flex;
    justify-content: flex-start;
    position: absolute;
    left: -460px;
}
.swiper {
    width: 100%;
    height: 100%;
    cursor: none;
    height: 50vh;
  }
  .swiper-slide {
    padding: 4vw 1vw;
    background: #EFEAE3; 
    border-left: 1px solid #b6b6b6;
    width: 30%;
  }
  .last-swiper{
    border-right: 1px solid #b6b6b6;
    width: 40%;
  }
  .swiper-slide p{
    width: 500px;
    font-size: 1.15vw;
    font-weight: 400;
  }
  .swiper-slide img{
    height: 100px;
    width: 100px;
    margin-bottom: 30px;
  }
/* Swiper Custom Cursor */
.swiper-custom-cursor{
    height: 100px;
    width: 100px;
    background: orange;
    border-radius: 50%;
    transition: transform ease 0.5s;
    transform: scale(0);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper-heading{
  letter-spacing: .02em;
  text-transform: uppercase;
  font-family: Neuehaasdisplay roman,sans-serif;
  font-size: .875em;
  font-weight: 400;
  line-height: 1.2;
  margin-left: 65px;
  margin-bottom: 20px;
  position: relative;
}
.swiper-heading::before{
    content: '';
    height: 10px;
    width: 10px;
    background: #FE3E0E;
    position: absolute;
    left: -20px;
    border-radius: 50%;
    transform: translate(-20%, 40%);
}
.swiper-details h1{
    font-size: 4.25vw;
}

/* #page6{
    height: 100vh;
    width: 100%;
    background: transparent;
} */

#footer{
    position: sticky;
    z-index: 9;
    height: 100vh;
    width: 100%;
    bottom: 0;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1vw 3vw;
    pointer-events: auto;
}
#footer h1{
    font-size: 15vw;
    pointer-events: auto;
}
.footer-div{
    height: 20vh;
    margin-bottom: 100px;
    padding: 0 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-bottom{
    border-top: 1px solid #dadada;
    height: 12vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;

}
.footer-links{
    height: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-links a{
    font-size: 2.5vw;
    text-decoration: none;
    color: white;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s ease;
}
.footer-links a:hover{
    color: rgb(161, 161, 161);
    transform: translateY(-6px);
}

.get-email{
    height: 100%;
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.get-email p{
    font-size: 1.5vw;
    font-weight: 500;
}
.get-email input{
    height: 30px;
    width: 90%;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #dadada;
    color: white;
    font-weight: 600;
    letter-spacing: 1.5px;
}
.get-email input::placeholder{
    color: #a3a3a3;
    font-size: 1vw;
}
.get-email ion-icon{
    position: absolute;
    bottom: 0;
    right: 0;
    --ionicon-stroke-width: 5px;
    font-size: 40px;
    cursor: pointer;
    transition: 0.4s ease;
}
.get-email ion-icon:hover{
    transform: translateY(-5px);
}
.copyright p{
    font-size: 1.25vw;
    font-weight: 600;
}
.location{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    font-size: 1.25vw;
    font-weight: 600;
}
.instagram a{
    font-size: 1.25vw;
    font-weight: 600;
    text-decoration: none;
    color: white;
    position: relative;
}
.instagram a::before{
    content: '';
    position: absolute;
    bottom: -6px;
    height: 1.5px;
    width: 100%;
    background: white;
    transform: scale(0);
    transform-origin: left;
    transition: 0.8s ease ;
}
.instagram a:hover::before{
    transform: scale(1);
    transform-origin: left;
}
.linkedin a{
    font-size: 1.25vw;
    font-weight: 600;
    text-decoration: none;
    color: white;
    position: relative;
}
.linkedin a::before{
    content: '';
    position: absolute;
    bottom: -6px;
    height: 1.5px;
    width: 100%;
    background: white;
    transform: scale(0);
    transform-origin: left;
    transition: 0.5s ease;
}
.linkedin a:hover::before{
    transform: scale(1);
    transform-origin: left;
}
nav h3{
    display: none;
}
#full-scr{
    height: 100vh;
    width: 100%;
    background: #00000070;
    position: fixed;
    top: -150%;
    z-index: 99;
    transition: 0.5s ease;
}
.full-div1{
    height: 50%;
    width: 100%;
    background: #EFEAE3;
    color: black;
    /* border-radius: 30px; */
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    /* position: fixed; */

}
.full-div1 h1{
    z-index: 9;
    color: black;
    /* display: block; */
}
.loader{
    height: 100vh;
    width: 100%;
    background: #000;
    position: fixed;
    top: 0;
    z-index: 999;
    transition: all 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader h1{
    font-size: 4vw;
    color: transparent;
    background: linear-gradient(to right, orange, orangered);
    -webkit-background-clip: text;
    position: absolute;
    opacity: 0;
    animation-name: loader;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
}
.loader h1:nth-child(2){
    animation-delay: 2s;
}
.loader h1:nth-child(3){
    animation-delay: 3s;
}
@keyframes loader{
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

/* Responsive */
@media (max-width:600px) {
    .cursor{
        display: none;
    }
    body{
        overflow-x: hidden;
    }
    #page1{
        min-height: 100vh;
        width: 100vw;
        padding: 0 0vw;
    }
    nav{
        padding: 8vw 5vw;
        background: #EFEAE3;
        /* padding: 0 5vw; */
    }
    nav img{
        height: 9vh;
        transition: 0.5s ease;
    }
    .nav-part2{
        display: none;
    } 
    nav h3{
        display: initial;
        height: 10vw;
        padding: 0vw 8vw;
        width: 25vw;
        border: 1px solid #ababab;
        border-radius: 50px;
        font-size: 4vw;
        font-weight: 200;
        padding-left: 10vw;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        cursor: pointer;
        /* position: fixed; */
    }
    .firstline{
        height: 2px;
        width: 25px;
        background: #000;
        transition: 0.5s ease;
        /* position: absolute; */
        /* display: none; */
    }
    .secondline{
        height: 2px;
        width: 25px;
        background: #000;
        transition: 0.5s ease;
        /* display: none; */
    }
    .firstline.active{
        rotate: -45deg;
        gap: 0;
        position: absolute;
        /* transform: translate(-50%, -50%); */
    }
    .secondline.active{
        rotate: 45deg;
        gap: 0;
        /* transform: translate(-50%, -50%); */
    }
    .cross{
        height: 30px;
        width: 30px;
        position: relative;
        /* outline: auto; */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 5px;
    }
    .center{
        height: 52vh;
        width: 100%;
        /* background: red; */
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        border-bottom: 1px solid #0000003c;
        padding: 7.5vw 5vw;
        padding-bottom: 7.75vw;
        flex-direction: column-reverse;
        position: relative;
        z-index: 10;
    }
    .left h3{
        width: 80%;
        line-height: 5vw;
        font-size: 4.4vw;
    }
    .right h1{
        font-size: 13vw;
        line-height: 10.5vw;
        text-align: right;
    }
    #page1 video{
        margin-top: 7.5vw;
        border-radius: 20px;
        height: 78vh;
        object-fit: cover;
        object-position: center;
        width: 92%;
        margin-left: 4%;
        position: relative;
    }
    .hero-shape{
        position: absolute;
        height: 82vw;
        width: 76vw;
        right: 0;
        top: 65vh;
    }    


    #page2{
        min-height: 100vh;
        width: 100%;
        background-color: #EFEAE3;
        padding: 8vw 0;
        position: relative;
    }
    #moving-text{
        overflow-x: auto;
        scrollbar-width: none;
        white-space: nowrap;
    }
    #moving-text::-webkit-scrollbar{
        display: none;
    }
    #moving-text h1{
        font-size: 12vw;
        display: inline-block;
    }
    .con{
        white-space: nowrap;
        display: inline-block;
        animation-name: move;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    .circle{
        height: 30px;
        width: 30px;
        background: #FE3E0E;
        border-radius: 50%;
        display: inline-block;
        margin: 0.7vw 2vw;
    }
    
    .page2-bottom{
        height: 100vh;
        width: 100%;
        padding: 12vw 3.25vw;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        flex-direction: column;
        z-index: 2;
        /* background: red; */
    }
    .page2-bottom h1{
        font-size: 7vw;
        width: 100%;
        line-height: 7vw;
        font-weight: 600;
        /* background: pink; */
    }
    .bottom-part2{
        width: 50%;
        position: absolute;
        bottom: 15%;
    }
    .bottom-part2 img{
        width: 300px;
        height: 200px;
        object-fit: cover;
        object-position: center;
        border-radius: 15px;
        background: red;
    }
    .bottom-part2 p{
        width: 300px;
        margin-top: 2.5vw;
        font-size: 4.15vw;
        box-sizing: border-box;
        font-weight: 400;
    }
    #page2 .circle2{
        height: 62vw;
        width: 62vw;
        border-radius: 50%;
        position: absolute;
        background: linear-gradient(to top right,#FE3E0E, #ff6e1b);
        top: 32%;
        right: 0;
        filter: blur(20px);
        animation: circle2 6s ease-in-out infinite alternate;
        z-index: 1;
    }
    .loader h1{
        font-size: 15vw;
    }
    .fixed-image{
        opacity: 0;
        display: none;
    }

    #page3{
        min-height: 100vh;
        width: 100%;
        background: #EFEAE3;
        padding: 6vw 0;
    }
    .elem{
        height: 90vh;
        width: 100%;
        position: relative;
        background: #EFEAE3;
        border-bottom: none;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        padding: 0 2vw;
        overflow: hidden;
        cursor: pointer;
        padding: 3vw 5.35vw;
    }
    .elem img{
        /* border: 2px solid black; */
        height: 500px;
        width: 100%;
        z-index: 9;
        border-radius: 15px;
        display: initial;
    }
    .elem h2{
        font-size: 5.25vw;
        position: relative;
        z-index: 2;
        margin-top: 10px;
        user-select: none;
    }
    .elem:hover .overlay{
        top: -100%;
    }
    .texts{
        z-index: 2;
        text-align: left;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 10px;
    }
    .texts h4{
        font-weight: 200;
    }
    .texts p{
        font-weight: 400;
    }
    .other-buttons{
        padding: 2vw 1.5vw;
        margin-left: 6vw;
        gap: 10px;
    }
    #page4{
        height: 100vh;
        width: 100%;
        background: #EFEAE3;
        position: relative;
        padding: 0 4vw;
        margin-top: -62px;
    }
    .page4-container{
        margin-top: 24vw;
        height: 100%;
        border-radius: 20px;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        /* overflow: hidden; */
        /* padding: 0 3vw; */
    }
    .page4left{
        width: 100%;
        height: 100%;
        background: black;
        color: white;
        display: flex;
        align-items: center ;
        justify-content: center;
        flex-direction: column;
    }
    .headings{
        height: 32%;
        width: 65%;
        margin-top: 50px;
    }
    .headings h1{
        font-size: 8.5vw;
        position: relative;
        cursor: pointer;
        color: #423B37;
        user-select: none;
    }
    .headings h1::before{
        content: "";
        height: 100%;
        width: 2.5px;
        z-index: 2;
        background: #423B37;
        position: absolute;
        left: -5%;
        transition: background-color 0.3s ease;
    }
    .headings h1.active::before {
        background-color: red; 
    }
    .texts1{
        height: 32%;
        width: 80%;
        text-align: left;
        margin-top: 50px;
        margin-left: 35px;
    }
    .texts1 p{
        font-size: 3.25vw;
    }
    .page4right{
        width: 100%;
        height: 100%;
        background: black;
        background-size: cover;
        background-repeat: no-repeat;
        border-top-left-radius: 0;
        border-bottom-left-radius: none;
        border-radius: none;
        position: relative;
        right: 0;
        border: none;
    }

    #page5{
        height: 50vh;
        width: 100%;
        background: #EFEAE3;
        padding: 5vw 2vw;
        position: relative;
        margin-top: 30px;
    }
    /* Swiper */
    .swiper-wrapper{
        display: flex;
        justify-content: flex-start;
        position: absolute;
        left: 80px;
    }
    .swiper {
        width: 100%;
        height: 80%;
        cursor: none;
        /* height: 50vh; */
      }
      .swiper-slide {
        padding: 4vw 5vw;
        background: #EFEAE3; 
        border-left: 1px solid #b6b6b6;
        width: 50%;
      }
      .last-swiper{
        border-right: 1px solid #b6b6b6;
        width: 40%;
      }
      .swiper-slide p{
        width: 300px;
        font-size: 3.25vw;
        line-height: 5vw;
        font-weight: 400;
      }
      .swiper-slide img{
        height: 100px;
        width: 100px;
        margin-bottom: 30px;
      }
    /* Swiper Custom Cursor */
    .swiper-custom-cursor{
        height: 100px;
        width: 100px;
        background: orange;
        border-radius: 50%;
        transition: transform ease 0.5s;
        transform: scale(0);
        color: white;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .swiper-heading{
      letter-spacing: .02em;
      text-transform: uppercase;
      font-family: Neuehaasdisplay roman,sans-serif;
      font-size: .875em;
      font-weight: 400;
      line-height: 1.2;
      margin-left: 45px;
      margin-bottom: 30px;
      position: relative;
    }
    .swiper-heading::before{
        content: '';
        height: 10px;
        width: 10px;
        background: #FE3E0E;
        position: absolute;
        left: -20px;
        border-radius: 50%;
        transform: translate(-20%, 40%);
    }
    .swiper-details h1{
        font-size: 4.25vw;
    }

    #footer{
        position: sticky;
        z-index: 9;
        height: 80vh;
        width: 100%;
        bottom: 0;
        background: black;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 1vw 3vw;
        pointer-events: auto;
    }
    #footer h1{
        font-size: 15vw;
        pointer-events: auto;
    }
    .footer-div{
        height: 30vh;
        width: 100%;
        margin-bottom: 100px;
        /* padding: 0 2vw; */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .footer-bottom{
        border-top: 1px solid #dadada;
        height: 12vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        color: white;
    
    }
    .footer-links{
        height: 100%;
        width: 100%;
    }
    .footer-links a{
        font-size: 6.5vw;
        font-weight: 700;
        line-height: 8vw;
    }
    
    .get-email{
        min-height: 10vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        margin-top: 50px;
        justify-content: center;
        position: relative;
    }
    .get-email p{
        font-size: 4.5vw;
        font-weight: 500;
    }
    .get-email input{
        height: 30px;
        width: 100%;
        background: transparent;
        outline: none;
        border: none;
        border-bottom: 1px solid #dadada;
        color: white;
        padding: 1.5vw 0;
        margin-top: 10px;
    }
    .get-email input::placeholder{
        font-size: 4vw;
    }
    .get-email ion-icon{
        font-size: 8vw;
    }
    .copyright p{
        font-size: 3.25vw;
        font-weight: 400;
    }
    .location{
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: center;
        font-size: 3.25vw;
        font-weight: 400;
    }
    .instagram a{
        font-size: 3.25vw;
        font-weight: 400;
        text-decoration: none;
        color: white;
        position: relative;
    }
    .instagram a::before{
        content: '';
        position: absolute;
        bottom: -6px;
        height: 1.5px;
        width: 100%;
        background: white;
        transform: scale(0);
        transform-origin: left;
        transition: 0.8s ease ;
    }
    .instagram a:hover::before{
        transform: scale(1);
        transform-origin: left;
    }
    .linkedin a{
        font-size: 3.25vw;
        font-weight: 400;
        text-decoration: none;
        color: white;
        position: relative;
    }
    .linkedin a::before{
        content: '';
        position: absolute;
        bottom: -6px;
        height: 1.5px;
        width: 100%;
        background: white;
        transform: scale(0);
        transform-origin: left;
        transition: 0.5s ease;
    }
    .linkedin a:hover::before{
        transform: scale(1);
        transform-origin: left;
    }
    .full-div1{
        padding: 0vw 4vw;
    }
    .full-div1 h1{
        color: black;
        z-index: 1000;
        display: initial;
        font-size: 12vw;
    }
    .menu-links{
        padding-top: 110px;
        display: flex;
        width: 100%;
        height: 100%;
        align-items: flex-end;
        justify-content: center;
        flex-direction: column; 
        cursor: pointer;
    }
    .menu-links a{
        text-decoration: n0ne;
    }
    .wrapper{
        z-index: 100;
    }
}
